<div class="container">
  <mat-card class = "example-card">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <form style ="background-color: white;  width: 100%;" class="example-form" #form="ngForm">
        <mat-form-field class="example-full-width">
          <input style ="background-color: white; width: 100%;" matInput placeholder="Email" value="" #userEmail required [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field style ="background-color: white;  width: 100%;" class="example-full-width">
          <input style ="background-color: white;  width: 100%;" matInput placeholder="Contrasena" value="" #userPassword required [(ngModel)]="passrd" >
        </mat-form-field>

        <mat-form-field style ="background-color: white;  width: 100%;" class="example-full-width">
          <input style ="background-color: white;  width: 100%;" matInput placeholder="Confirme contrasena" value="" #userCPassword required [(ngModel)]="cpassrd" >
        </mat-form-field>

        <mat-form-field style ="background-color: white;  width: 100%;" class="example-full-width">
          <input style ="background-color: white;  width: 100%;" matInput placeholder="Cambio Email" value="" #userNewEmail required [(ngModel)]="newEmail" >
        </mat-form-field>

        <mat-form-field style ="background-color: white;  width: 100%;" class="example-full-width">
          <input style ="background-color: white;  width: 100%;" matInput placeholder="Cambio pass" value="" #userNewPass required [(ngModel)]="newPass" >
        </mat-form-field>

        <button style ="background-color: white;  width: 100%;" mat-button color="primary" (click)="authenticationService.SignUp(userEmail.value, userPassword.value, userCPassword.value)" (click)="CreateRecord()">Registrar</button>
        <button style ="background-color: white;  width: 100%;" mat-button color="primary" (click)="authenticationService.delete(userEmail.value, userPassword.value, userCPassword.value)">Borrar</button>
        <button style ="background-color: white;  width: 100%;" mat-button color="primary" (click)="authenticationService.update(userEmail.value, userPassword.value, userCPassword.value, userNewEmail.value, userNewPass.value)">Actualizar</button>
      </form>      
    </div>
  </mat-card>

 
  <mat-card class = "example-card">
    <div class="row" >
      <div class="col-md-3">
        <div class="card" style="width: 18rem;" *ngFor="let item of vendedores"> <!--for each item in vendedores-->
          <mat-card class = "example-card2"style="margin-top: 15px;"> 
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock"style="margin-top: 15px;">
              
              <h5 class="card-title" >Email: {{item.Email}}</h5>
              <mat-divider></mat-divider>
              <h6 class="card-subtitle mb-2 text-muted">Password: {{item.Password}} </h6>
              <mat-divider></mat-divider>
              <button mat-stroked-button style = "margin-left: 30px; margin-top: 15px; background-color: white; color: red" 
              type="button" (click)="RemoveRecord(item.id)">
                Delete</button>
              <button mat-stroked-button style = "margin-left: 30px; margin-top: 15px; background-color: white; color: #3f1aad" 
              type="button" (click)="EditRecord(item)" >
                Edit</button>

              
            </div>
          </mat-card>
          <ng-template #elseBlock>
            <div class="card-body">
              <h5 class="card-title">Edit</h5>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input style = "margin-top: 5px;" type="text" class="form-control" [(ngModel)]="item.EditEmail"
                     placeholder="Editar Email">
                  </div>
                  <div class="col-md-12">
                    <input style = "margin-top: 5px;" type="text" class="form-control" [(ngModel)]="item.EditPass"
                     placeholder="Editar Password">
                  </div>
                </div>
              </div>
  
              <button  mat-stroked-button style = " margin-top: 15px; background-color: white; color: red"
               type="button" (click)="item.isEdit = false" >
                Cancel</button>

              <button  mat-stroked-button style = "margin-left: 30px; margin-top: 15px; background-color: white; color: #3f1aad"
               type="button"(click)="UpdateRecord(item)" >
                  Update</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-card> 
 

  
 
</div>
 