<div class="container">
 
    <h1 style="margin-top: 25px; text-align: center;">
      {{title}}
    </h1>
   
    <mat-card class = "example-card">
      <div class="row" style="margin-top: 25px;"  >
      
        <div class="col-md-6" >
          <input style = "margin-top: 5px; background-color: white; " matInput type="text" class="form-control" [(ngModel)]="prov" placeholder="Proveedor">
        </div>
        <div class="col-md-6">
          <input style = "margin-top: 5px; background-color: white; " matInput type="text" class="form-control" [(ngModel)]="cod" placeholder="Codigo">
        </div>
        <div class="col-md-6">
          <input style = "margin-top: 5px; background-color: white; " matInput type="text" class="form-control" [(ngModel)]="desc" placeholder="Descripcion">
        </div>
        <div class="col-md-6">
          <input style = "margin-top: 5px; background-color: white; " matInput type="text" class="form-control" [(ngModel)]="lat" placeholder="Latitud">
        </div>
        <div class="col-md-6">
          <input style = "margin-top: 5px; background-color: white; " matInput type="text" class="form-control" [(ngModel)]="long" placeholder="Longitud">
        </div>
        <div class="col-md-6">
          <button  mat-stroked-button type="button" (click)="CreateRecord()" [disabled]="!prov || !cod || !desc" 
          class="btn btn-primary" style = "margin-top: 5px; background-color: azure; color:black;" >+
            Crear Proveedor</button>
        </div>
      </div>
    </mat-card>
</div>

<agm-map [latitude]="lat" [longitude]="lng"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"

      >
        <agm-marker
        *ngFor="let m of proveedores"
        [latitude]="m.Latitud"
        [longitude]="m.Longitud"
        [label]="m.Proveedor"
        [markerDraggable]= "false"
        [iconUrl]= "'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"
        >
          <agm-info-window>
           <strong>{{m.Proveedor}}</strong>
           {{m.Latitud}}
           {{m.Longitud}}

          </agm-info-window>
        </agm-marker>
      </agm-map>
