<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Informacion Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text color="dark" text-center>
        <h2>
            Version 1.0
        </h2>
    </ion-text>
    <div>
        <ion-button fill="clear" color="dark" style="margin-bottom: 10px" (click)="presentAlertOS()">Manual de Usuario</ion-button>
    </div>
    <ion-button fill="clear" color="dark" style="margin-bottom: 150px" (click)="login()">Salir</ion-button>
    <ion-text color="dark" text-center>
        <h2>
            Desarrollado por ABMODEL.inc
        </h2>
    </ion-text>
    <ion-text color="medium" text-center>
        <h4>
            abmodel.organizacion@gmail.com
            4294039 - 73394833
        </h4>
    </ion-text>
</ion-content>
