
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ABMODEL DELIVERY</span>
    <button style = "margin-left: 5px;" mat-button color="accent" routerLink="/mapa">Mapa</button>
    <button style = "margin-left: 5px;" mat-button color="accent" routerLink="/proveedor">Proveedor</button>
    <button style = "margin-left: 5px;" mat-button color="accent" routerLink="/vendedor">Vendedor</button>
    <button style = "margin-left: 5px;" mat-button color="accent" routerLink="/producto">Producto</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">track_changes</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
